/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2.5em;
}

dfn {
  font-style: italic;
}

mark {
  background: white;
  color: #444444;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #444444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/* 
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */
@font-face {
  font-family: "foundation-icons";
  src: url("font/foundation-icons.eot");
  src: url("font/foundation-icons.eot?#iefix") format("embedded-opentype"), url("font/foundation-icons.woff") format("woff"), url("font/foundation-icons.ttf") format("truetype"), url("font/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fi-address-book:before,
.fi-alert:before,
.fi-align-center:before,
.fi-align-justify:before,
.fi-align-left:before,
.fi-align-right:before,
.fi-anchor:before,
.fi-annotate:before,
.fi-archive:before,
.fi-arrow-down:before,
.fi-arrow-left:before,
.fi-arrow-right:before,
.fi-arrow-up:before,
.fi-arrows-compress:before,
.fi-arrows-expand:before,
.fi-arrows-in:before,
.fi-arrows-out:before,
.fi-asl:before,
.fi-asterisk:before,
.fi-at-sign:before,
.fi-background-color:before,
.fi-battery-empty:before,
.fi-battery-full:before,
.fi-battery-half:before,
.fi-bitcoin-circle:before,
.fi-bitcoin:before,
.fi-blind:before,
.fi-bluetooth:before,
.fi-bold:before,
.fi-book-bookmark:before,
.fi-book:before,
.fi-bookmark:before,
.fi-braille:before,
.fi-burst-new:before,
.fi-burst-sale:before,
.fi-burst:before,
.fi-calendar:before,
.fi-camera:before,
.fi-check:before,
.fi-checkbox:before,
.fi-clipboard-notes:before,
.fi-clipboard-pencil:before,
.fi-clipboard:before,
.fi-clock:before,
.fi-closed-caption:before,
.fi-cloud:before,
.fi-comment-minus:before,
.fi-comment-quotes:before,
.fi-comment-video:before,
.fi-comment:before,
.fi-comments:before,
.fi-compass:before,
.fi-contrast:before,
.fi-credit-card:before,
.fi-crop:before,
.fi-crown:before,
.fi-css3:before,
.fi-database:before,
.fi-die-five:before,
.fi-die-four:before,
.fi-die-one:before,
.fi-die-six:before,
.fi-die-three:before,
.fi-die-two:before,
.fi-dislike:before,
.fi-dollar-bill:before,
.fi-dollar:before,
.fi-download:before,
.fi-eject:before,
.fi-elevator:before,
.fi-euro:before,
.fi-eye:before,
.fi-fast-forward:before,
.fi-female-symbol:before,
.fi-female:before,
.fi-filter:before,
.fi-first-aid:before,
.fi-flag:before,
.fi-folder-add:before,
.fi-folder-lock:before,
.fi-folder:before,
.fi-foot:before,
.fi-foundation:before,
.fi-graph-bar:before,
.fi-graph-horizontal:before,
.fi-graph-pie:before,
.fi-graph-trend:before,
.fi-guide-dog:before,
.fi-hearing-aid:before,
.fi-heart:before,
.fi-home:before,
.fi-html5:before,
.fi-indent-less:before,
.fi-indent-more:before,
.fi-info:before,
.fi-italic:before,
.fi-key:before,
.fi-laptop:before,
.fi-layout:before,
.fi-lightbulb:before,
.fi-like:before,
.fi-link:before,
.fi-list-bullet:before,
.fi-list-number:before,
.fi-list-thumbnails:before,
.fi-list:before,
.fi-lock:before,
.fi-loop:before,
.fi-magnifying-glass:before,
.fi-mail:before,
.fi-male-female:before,
.fi-male-symbol:before,
.fi-male:before,
.fi-map:before,
.fi-marker:before,
.fi-megaphone:before,
.fi-microphone:before,
.fi-minus-circle:before,
.fi-minus:before,
.fi-mobile-signal:before,
.fi-mobile:before,
.fi-monitor:before,
.fi-mountains:before,
.fi-music:before,
.fi-next:before,
.fi-no-dogs:before,
.fi-no-smoking:before,
.fi-page-add:before,
.fi-page-copy:before,
.fi-page-csv:before,
.fi-page-delete:before,
.fi-page-doc:before,
.fi-page-edit:before,
.fi-page-export-csv:before,
.fi-page-export-doc:before,
.fi-page-export-pdf:before,
.fi-page-export:before,
.fi-page-filled:before,
.fi-page-multiple:before,
.fi-page-pdf:before,
.fi-page-remove:before,
.fi-page-search:before,
.fi-page:before,
.fi-paint-bucket:before,
.fi-paperclip:before,
.fi-pause:before,
.fi-paw:before,
.fi-paypal:before,
.fi-pencil:before,
.fi-photo:before,
.fi-play-circle:before,
.fi-play-video:before,
.fi-play:before,
.fi-plus:before,
.fi-pound:before,
.fi-power:before,
.fi-previous:before,
.fi-price-tag:before,
.fi-pricetag-multiple:before,
.fi-print:before,
.fi-prohibited:before,
.fi-projection-screen:before,
.fi-puzzle:before,
.fi-quote:before,
.fi-record:before,
.fi-refresh:before,
.fi-results-demographics:before,
.fi-results:before,
.fi-rewind-ten:before,
.fi-rewind:before,
.fi-rss:before,
.fi-safety-cone:before,
.fi-save:before,
.fi-share:before,
.fi-sheriff-badge:before,
.fi-shield:before,
.fi-shopping-bag:before,
.fi-shopping-cart:before,
.fi-shuffle:before,
.fi-skull:before,
.fi-social-500px:before,
.fi-social-adobe:before,
.fi-social-amazon:before,
.fi-social-android:before,
.fi-social-apple:before,
.fi-social-behance:before,
.fi-social-bing:before,
.fi-social-blogger:before,
.fi-social-delicious:before,
.fi-social-designer-news:before,
.fi-social-deviant-art:before,
.fi-social-digg:before,
.fi-social-dribbble:before,
.fi-social-drive:before,
.fi-social-dropbox:before,
.fi-social-evernote:before,
.fi-social-facebook:before,
.fi-social-flickr:before,
.fi-social-forrst:before,
.fi-social-foursquare:before,
.fi-social-game-center:before,
.fi-social-github:before,
.fi-social-google-plus:before,
.fi-social-hacker-news:before,
.fi-social-hi5:before,
.fi-social-instagram:before,
.fi-social-joomla:before,
.fi-social-lastfm:before,
.fi-social-linkedin:before,
.fi-social-medium:before,
.fi-social-myspace:before,
.fi-social-orkut:before,
.fi-social-path:before,
.fi-social-picasa:before,
.fi-social-pinterest:before,
.fi-social-rdio:before,
.fi-social-reddit:before,
.fi-social-skillshare:before,
.fi-social-skype:before,
.fi-social-smashing-mag:before,
.fi-social-snapchat:before,
.fi-social-spotify:before,
.fi-social-squidoo:before,
.fi-social-stack-overflow:before,
.fi-social-steam:before,
.fi-social-stumbleupon:before,
.fi-social-treehouse:before,
.fi-social-tumblr:before,
.fi-social-twitter:before,
.fi-social-vimeo:before,
.fi-social-windows:before,
.fi-social-xbox:before,
.fi-social-yahoo:before,
.fi-social-yelp:before,
.fi-social-youtube:before,
.fi-social-zerply:before,
.fi-social-zurb:before,
.fi-sound:before,
.fi-star:before,
.fi-stop:before,
.fi-strikethrough:before,
.fi-subscript:before,
.fi-superscript:before,
.fi-tablet-landscape:before,
.fi-tablet-portrait:before,
.fi-target-two:before,
.fi-target:before,
.fi-telephone-accessible:before,
.fi-telephone:before,
.fi-text-color:before,
.fi-thumbnails:before,
.fi-ticket:before,
.fi-torso-business:before,
.fi-torso-female:before,
.fi-torso:before,
.fi-torsos-all-female:before,
.fi-torsos-all:before,
.fi-torsos-female-male:before,
.fi-torsos-male-female:before,
.fi-torsos:before,
.fi-trash:before,
.fi-trees:before,
.fi-trophy:before,
.fi-underline:before,
.fi-universal-access:before,
.fi-unlink:before,
.fi-unlock:before,
.fi-upload-cloud:before,
.fi-upload:before,
.fi-usb:before,
.fi-video:before,
.fi-volume-none:before,
.fi-volume-strike:before,
.fi-volume:before,
.fi-web:before,
.fi-wheelchair:before,
.fi-widget:before,
.fi-wrench:before,
.fi-x-circle:before,
.fi-x:before,
.fi-yen:before,
.fi-zoom-in:before,
.fi-zoom-out:before {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.fi-address-book:before {
  content: "\f100";
}

.fi-alert:before {
  content: "\f101";
}

.fi-align-center:before {
  content: "\f102";
}

.fi-align-justify:before {
  content: "\f103";
}

.fi-align-left:before {
  content: "\f104";
}

.fi-align-right:before {
  content: "\f105";
}

.fi-anchor:before {
  content: "\f106";
}

.fi-annotate:before {
  content: "\f107";
}

.fi-archive:before {
  content: "\f108";
}

.fi-arrow-down:before {
  content: "\f109";
}

.fi-arrow-left:before {
  content: "\f10a";
}

.fi-arrow-right:before {
  content: "\f10b";
}

.fi-arrow-up:before {
  content: "\f10c";
}

.fi-arrows-compress:before {
  content: "\f10d";
}

.fi-arrows-expand:before {
  content: "\f10e";
}

.fi-arrows-in:before {
  content: "\f10f";
}

.fi-arrows-out:before {
  content: "\f110";
}

.fi-asl:before {
  content: "\f111";
}

.fi-asterisk:before {
  content: "\f112";
}

.fi-at-sign:before {
  content: "\f113";
}

.fi-background-color:before {
  content: "\f114";
}

.fi-battery-empty:before {
  content: "\f115";
}

.fi-battery-full:before {
  content: "\f116";
}

.fi-battery-half:before {
  content: "\f117";
}

.fi-bitcoin-circle:before {
  content: "\f118";
}

.fi-bitcoin:before {
  content: "\f119";
}

.fi-blind:before {
  content: "\f11a";
}

.fi-bluetooth:before {
  content: "\f11b";
}

.fi-bold:before {
  content: "\f11c";
}

.fi-book-bookmark:before {
  content: "\f11d";
}

.fi-book:before {
  content: "\f11e";
}

.fi-bookmark:before {
  content: "\f11f";
}

.fi-braille:before {
  content: "\f120";
}

.fi-burst-new:before {
  content: "\f121";
}

.fi-burst-sale:before {
  content: "\f122";
}

.fi-burst:before {
  content: "\f123";
}

.fi-calendar:before {
  content: "\f124";
}

.fi-camera:before {
  content: "\f125";
}

.fi-check:before {
  content: "\f126";
}

.fi-checkbox:before {
  content: "\f127";
}

.fi-clipboard-notes:before {
  content: "\f128";
}

.fi-clipboard-pencil:before {
  content: "\f129";
}

.fi-clipboard:before {
  content: "\f12a";
}

.fi-clock:before {
  content: "\f12b";
}

.fi-closed-caption:before {
  content: "\f12c";
}

.fi-cloud:before {
  content: "\f12d";
}

.fi-comment-minus:before {
  content: "\f12e";
}

.fi-comment-quotes:before {
  content: "\f12f";
}

.fi-comment-video:before {
  content: "\f130";
}

.fi-comment:before {
  content: "\f131";
}

.fi-comments:before {
  content: "\f132";
}

.fi-compass:before {
  content: "\f133";
}

.fi-contrast:before {
  content: "\f134";
}

.fi-credit-card:before {
  content: "\f135";
}

.fi-crop:before {
  content: "\f136";
}

.fi-crown:before {
  content: "\f137";
}

.fi-css3:before {
  content: "\f138";
}

.fi-database:before {
  content: "\f139";
}

.fi-die-five:before {
  content: "\f13a";
}

.fi-die-four:before {
  content: "\f13b";
}

.fi-die-one:before {
  content: "\f13c";
}

.fi-die-six:before {
  content: "\f13d";
}

.fi-die-three:before {
  content: "\f13e";
}

.fi-die-two:before {
  content: "\f13f";
}

.fi-dislike:before {
  content: "\f140";
}

.fi-dollar-bill:before {
  content: "\f141";
}

.fi-dollar:before {
  content: "\f142";
}

.fi-download:before {
  content: "\f143";
}

.fi-eject:before {
  content: "\f144";
}

.fi-elevator:before {
  content: "\f145";
}

.fi-euro:before {
  content: "\f146";
}

.fi-eye:before {
  content: "\f147";
}

.fi-fast-forward:before {
  content: "\f148";
}

.fi-female-symbol:before {
  content: "\f149";
}

.fi-female:before {
  content: "\f14a";
}

.fi-filter:before {
  content: "\f14b";
}

.fi-first-aid:before {
  content: "\f14c";
}

.fi-flag:before {
  content: "\f14d";
}

.fi-folder-add:before {
  content: "\f14e";
}

.fi-folder-lock:before {
  content: "\f14f";
}

.fi-folder:before {
  content: "\f150";
}

.fi-foot:before {
  content: "\f151";
}

.fi-foundation:before {
  content: "\f152";
}

.fi-graph-bar:before {
  content: "\f153";
}

.fi-graph-horizontal:before {
  content: "\f154";
}

.fi-graph-pie:before {
  content: "\f155";
}

.fi-graph-trend:before {
  content: "\f156";
}

.fi-guide-dog:before {
  content: "\f157";
}

.fi-hearing-aid:before {
  content: "\f158";
}

.fi-heart:before {
  content: "\f159";
}

.fi-home:before {
  content: "\f15a";
}

.fi-html5:before {
  content: "\f15b";
}

.fi-indent-less:before {
  content: "\f15c";
}

.fi-indent-more:before {
  content: "\f15d";
}

.fi-info:before {
  content: "\f15e";
}

.fi-italic:before {
  content: "\f15f";
}

.fi-key:before {
  content: "\f160";
}

.fi-laptop:before {
  content: "\f161";
}

.fi-layout:before {
  content: "\f162";
}

.fi-lightbulb:before {
  content: "\f163";
}

.fi-like:before {
  content: "\f164";
}

.fi-link:before {
  content: "\f165";
}

.fi-list-bullet:before {
  content: "\f166";
}

.fi-list-number:before {
  content: "\f167";
}

.fi-list-thumbnails:before {
  content: "\f168";
}

.fi-list:before {
  content: "\f169";
}

.fi-lock:before {
  content: "\f16a";
}

.fi-loop:before {
  content: "\f16b";
}

.fi-magnifying-glass:before {
  content: "\f16c";
}

.fi-mail:before {
  content: "\f16d";
}

.fi-male-female:before {
  content: "\f16e";
}

.fi-male-symbol:before {
  content: "\f16f";
}

.fi-male:before {
  content: "\f170";
}

.fi-map:before {
  content: "\f171";
}

.fi-marker:before {
  content: "\f172";
}

.fi-megaphone:before {
  content: "\f173";
}

.fi-microphone:before {
  content: "\f174";
}

.fi-minus-circle:before {
  content: "\f175";
}

.fi-minus:before {
  content: "\f176";
}

.fi-mobile-signal:before {
  content: "\f177";
}

.fi-mobile:before {
  content: "\f178";
}

.fi-monitor:before {
  content: "\f179";
}

.fi-mountains:before {
  content: "\f17a";
}

.fi-music:before {
  content: "\f17b";
}

.fi-next:before {
  content: "\f17c";
}

.fi-no-dogs:before {
  content: "\f17d";
}

.fi-no-smoking:before {
  content: "\f17e";
}

.fi-page-add:before {
  content: "\f17f";
}

.fi-page-copy:before {
  content: "\f180";
}

.fi-page-csv:before {
  content: "\f181";
}

.fi-page-delete:before {
  content: "\f182";
}

.fi-page-doc:before {
  content: "\f183";
}

.fi-page-edit:before {
  content: "\f184";
}

.fi-page-export-csv:before {
  content: "\f185";
}

.fi-page-export-doc:before {
  content: "\f186";
}

.fi-page-export-pdf:before {
  content: "\f187";
}

.fi-page-export:before {
  content: "\f188";
}

.fi-page-filled:before {
  content: "\f189";
}

.fi-page-multiple:before {
  content: "\f18a";
}

.fi-page-pdf:before {
  content: "\f18b";
}

.fi-page-remove:before {
  content: "\f18c";
}

.fi-page-search:before {
  content: "\f18d";
}

.fi-page:before {
  content: "\f18e";
}

.fi-paint-bucket:before {
  content: "\f18f";
}

.fi-paperclip:before {
  content: "\f190";
}

.fi-pause:before {
  content: "\f191";
}

.fi-paw:before {
  content: "\f192";
}

.fi-paypal:before {
  content: "\f193";
}

.fi-pencil:before {
  content: "\f194";
}

.fi-photo:before {
  content: "\f195";
}

.fi-play-circle:before {
  content: "\f196";
}

.fi-play-video:before {
  content: "\f197";
}

.fi-play:before {
  content: "\f198";
}

.fi-plus:before {
  content: "\f199";
}

.fi-pound:before {
  content: "\f19a";
}

.fi-power:before {
  content: "\f19b";
}

.fi-previous:before {
  content: "\f19c";
}

.fi-price-tag:before {
  content: "\f19d";
}

.fi-pricetag-multiple:before {
  content: "\f19e";
}

.fi-print:before {
  content: "\f19f";
}

.fi-prohibited:before {
  content: "\f1a0";
}

.fi-projection-screen:before {
  content: "\f1a1";
}

.fi-puzzle:before {
  content: "\f1a2";
}

.fi-quote:before {
  content: "\f1a3";
}

.fi-record:before {
  content: "\f1a4";
}

.fi-refresh:before {
  content: "\f1a5";
}

.fi-results-demographics:before {
  content: "\f1a6";
}

.fi-results:before {
  content: "\f1a7";
}

.fi-rewind-ten:before {
  content: "\f1a8";
}

.fi-rewind:before {
  content: "\f1a9";
}

.fi-rss:before {
  content: "\f1aa";
}

.fi-safety-cone:before {
  content: "\f1ab";
}

.fi-save:before {
  content: "\f1ac";
}

.fi-share:before {
  content: "\f1ad";
}

.fi-sheriff-badge:before {
  content: "\f1ae";
}

.fi-shield:before {
  content: "\f1af";
}

.fi-shopping-bag:before {
  content: "\f1b0";
}

.fi-shopping-cart:before {
  content: "\f1b1";
}

.fi-shuffle:before {
  content: "\f1b2";
}

.fi-skull:before {
  content: "\f1b3";
}

.fi-social-500px:before {
  content: "\f1b4";
}

.fi-social-adobe:before {
  content: "\f1b5";
}

.fi-social-amazon:before {
  content: "\f1b6";
}

.fi-social-android:before {
  content: "\f1b7";
}

.fi-social-apple:before {
  content: "\f1b8";
}

.fi-social-behance:before {
  content: "\f1b9";
}

.fi-social-bing:before {
  content: "\f1ba";
}

.fi-social-blogger:before {
  content: "\f1bb";
}

.fi-social-delicious:before {
  content: "\f1bc";
}

.fi-social-designer-news:before {
  content: "\f1bd";
}

.fi-social-deviant-art:before {
  content: "\f1be";
}

.fi-social-digg:before {
  content: "\f1bf";
}

.fi-social-dribbble:before {
  content: "\f1c0";
}

.fi-social-drive:before {
  content: "\f1c1";
}

.fi-social-dropbox:before {
  content: "\f1c2";
}

.fi-social-evernote:before {
  content: "\f1c3";
}

.fi-social-facebook:before {
  content: "\f1c4";
}

.fi-social-flickr:before {
  content: "\f1c5";
}

.fi-social-forrst:before {
  content: "\f1c6";
}

.fi-social-foursquare:before {
  content: "\f1c7";
}

.fi-social-game-center:before {
  content: "\f1c8";
}

.fi-social-github:before {
  content: "\f1c9";
}

.fi-social-google-plus:before {
  content: "\f1ca";
}

.fi-social-hacker-news:before {
  content: "\f1cb";
}

.fi-social-hi5:before {
  content: "\f1cc";
}

.fi-social-instagram:before {
  content: "\f1cd";
}

.fi-social-joomla:before {
  content: "\f1ce";
}

.fi-social-lastfm:before {
  content: "\f1cf";
}

.fi-social-linkedin:before {
  content: "\f1d0";
}

.fi-social-medium:before {
  content: "\f1d1";
}

.fi-social-myspace:before {
  content: "\f1d2";
}

.fi-social-orkut:before {
  content: "\f1d3";
}

.fi-social-path:before {
  content: "\f1d4";
}

.fi-social-picasa:before {
  content: "\f1d5";
}

.fi-social-pinterest:before {
  content: "\f1d6";
}

.fi-social-rdio:before {
  content: "\f1d7";
}

.fi-social-reddit:before {
  content: "\f1d8";
}

.fi-social-skillshare:before {
  content: "\f1d9";
}

.fi-social-skype:before {
  content: "\f1da";
}

.fi-social-smashing-mag:before {
  content: "\f1db";
}

.fi-social-snapchat:before {
  content: "\f1dc";
}

.fi-social-spotify:before {
  content: "\f1dd";
}

.fi-social-squidoo:before {
  content: "\f1de";
}

.fi-social-stack-overflow:before {
  content: "\f1df";
}

.fi-social-steam:before {
  content: "\f1e0";
}

.fi-social-stumbleupon:before {
  content: "\f1e1";
}

.fi-social-treehouse:before {
  content: "\f1e2";
}

.fi-social-tumblr:before {
  content: "\f1e3";
}

.fi-social-twitter:before {
  content: "\f1e4";
}

.fi-social-vimeo:before {
  content: "\f1e5";
}

.fi-social-windows:before {
  content: "\f1e6";
}

.fi-social-xbox:before {
  content: "\f1e7";
}

.fi-social-yahoo:before {
  content: "\f1e8";
}

.fi-social-yelp:before {
  content: "\f1e9";
}

.fi-social-youtube:before {
  content: "\f1ea";
}

.fi-social-zerply:before {
  content: "\f1eb";
}

.fi-social-zurb:before {
  content: "\f1ec";
}

.fi-sound:before {
  content: "\f1ed";
}

.fi-star:before {
  content: "\f1ee";
}

.fi-stop:before {
  content: "\f1ef";
}

.fi-strikethrough:before {
  content: "\f1f0";
}

.fi-subscript:before {
  content: "\f1f1";
}

.fi-superscript:before {
  content: "\f1f2";
}

.fi-tablet-landscape:before {
  content: "\f1f3";
}

.fi-tablet-portrait:before {
  content: "\f1f4";
}

.fi-target-two:before {
  content: "\f1f5";
}

.fi-target:before {
  content: "\f1f6";
}

.fi-telephone-accessible:before {
  content: "\f1f7";
}

.fi-telephone:before {
  content: "\f1f8";
}

.fi-text-color:before {
  content: "\f1f9";
}

.fi-thumbnails:before {
  content: "\f1fa";
}

.fi-ticket:before {
  content: "\f1fb";
}

.fi-torso-business:before {
  content: "\f1fc";
}

.fi-torso-female:before {
  content: "\f1fd";
}

.fi-torso:before {
  content: "\f1fe";
}

.fi-torsos-all-female:before {
  content: "\f1ff";
}

.fi-torsos-all:before {
  content: "\f200";
}

.fi-torsos-female-male:before {
  content: "\f201";
}

.fi-torsos-male-female:before {
  content: "\f202";
}

.fi-torsos:before {
  content: "\f203";
}

.fi-trash:before {
  content: "\f204";
}

.fi-trees:before {
  content: "\f205";
}

.fi-trophy:before {
  content: "\f206";
}

.fi-underline:before {
  content: "\f207";
}

.fi-universal-access:before {
  content: "\f208";
}

.fi-unlink:before {
  content: "\f209";
}

.fi-unlock:before {
  content: "\f20a";
}

.fi-upload-cloud:before {
  content: "\f20b";
}

.fi-upload:before {
  content: "\f20c";
}

.fi-usb:before {
  content: "\f20d";
}

.fi-video:before {
  content: "\f20e";
}

.fi-volume-none:before {
  content: "\f20f";
}

.fi-volume-strike:before {
  content: "\f210";
}

.fi-volume:before {
  content: "\f211";
}

.fi-web:before {
  content: "\f212";
}

.fi-wheelchair:before {
  content: "\f213";
}

.fi-widget:before {
  content: "\f214";
}

.fi-wrench:before {
  content: "\f215";
}

.fi-x-circle:before {
  content: "\f216";
}

.fi-x:before {
  content: "\f217";
}

.fi-yen:before {
  content: "\f218";
}

.fi-zoom-in:before {
  content: "\f219";
}

.fi-zoom-out:before {
  content: "\f21a";
}

/* ==========================================================================
	Base
/* ========================================================================== */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  color: #444444;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background: #e1e1e1;
}

/*	Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
  color: #26527c;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #08111a;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5, h6 {
  font-size: 1.1em;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 1em;
}

/* Paragraphs */
/* Lists */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* Selection Colors */
::-moz-selection {
  background: #444444;
  color: white;
  text-shadow: none;
}

::selection {
  background: #444444;
  color: white;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
.media {
  /* Set width on this selector based on design and needs */
}

.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* Floats */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
/* Less than 320px but will apply at all sizes */
#page-wrap {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 3em 0 #444444;
  box-shadow: 0 0 3em 0 #444444;
}

#page-header {
  padding: 1em;
  background: url("/content/themes/yeopress/images/black_lozenge.png");
}

#page-logo {
  color: white;
}
#page-logo a {
  color: white;
}

#page-header ul {
  list-style: none;
  padding: 0;
}
#page-header ul li {
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0 0 0.5em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  background: #298cba;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGNiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDYzODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298cba), color-stop(100%, #1d6385));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #298cba 0%, #1d6385 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #298cba 0%, #1d6385 100%);
  /* W3C */
}
.lt-ie9 #page-header ul li {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#298cba', endColorstr='#1d6385',GradientType=0 );
  /* IE6-8 */
}
#page-header ul li a {
  color: #fff;
  text-decoration: none;
}
#page-header ul li:hover a {
  color: #444444;
}

/* Content */
#content-wrap {
  padding: 1em;
  background: #fff;
}

.article {
  margin-bottom: 1em;
  border-bottom: 1px solid #444;
}

.article-header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #444;
}

.article-title {
  margin-bottom: 0;
}
.article-title a {
  text-decoration: none;
}

.article-info {
  font-size: .825em;
}

/* Sidebar */
#page-sidebar {
  background: #eee;
  padding: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
#page-sidebar > ul {
  list-style: none;
  padding: 0;
}

.search-form {
  background: url("/content/themes/yeopress/images/black_lozenge.png");
  overflow: hidden;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.search-form .input-wrap {
  float: left;
}
.search-form .input-wrap label {
  display: none;
}
.search-form .input-wrap input {
  width: 100%;
}
.search-form .search {
  width: 75%;
  margin-right: 3%;
}
.search-form .submit {
  width: 22%;
}

/* Footer */
#page-footer {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

/* 320px to 479px */
/* 480px to 639px */
@media only screen and (min-width: 480px) {
  #page-header ul {
    overflow: auto;
  }
  #page-header ul li {
    float: left;
  }
}
/* 640px to 767px */
/* 768px to 1024px */
@media only screen and (min-width: 768px) {
  #page-header {
    padding: 1em 2em;
  }

  #content-wrap {
    overflow: auto;
  }

  #page-content {
    float: left;
    width: 55%;
  }

  #page-sidebar {
    float: right;
    width: 40%;
  }

  .search-form .search {
    width: 70%;
  }
  .search-form .submit {
    width: 27%;
  }
}
/* 1024px to 1534px */
@media only screen and (min-width: 1024px) {
  #page-wrap {
    width: 80%;
  }

  #page-content {
    width: 65%;
    padding: 1em;
  }

  #page-sidebar {
    width: 31%;
  }

  #page-footer {
    width: 80%;
  }
}
/* More than 1534px */
/* High PX Density */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  #page-header {
    background: url("/content/themes/yeopress/images/black_lozenge_@2X.png");
  }

  .search-form {
    background: url("/content/themes/yeopress/images/black_lozenge_@2X.png");
  }
}
@font-face {
  font-family: 'Nevis';
  src: url("font/nevis-webfont-webfont.eot");
  src: url("font/nevis-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("font/nevis-webfont-webfont.woff") format("woff"), url("font/nevis-webfont-webfont.ttf") format("truetype"), url("font/nevis-webfont-webfont.svg#nevisbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Crimson Text','Adobe Calson',serif;
  background: white;
}

#index-spacer {
  height: 100%;
}

@-webkit-keyframes fade-white-bg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: white;
  }
}
@-moz-keyframes fade-white-bg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: white;
  }
}
@-o-keyframes fade-white-bg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: white;
  }
}
@-ms-keyframes fade-white-bg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: white;
  }
}
@keyframes fade-white-bg {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: white;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  margin: -15px;
}

.text-col-2 {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 30px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 30px;
  /* Firefox */
  column-gap: 30px;
}

.col-1 {
  width: 72px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-1 {
  padding: 0;
  margin-left: 102px;
}

.col-2 {
  width: 174px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-2 {
  padding: 0;
  margin-left: 204px;
}

.col-3 {
  width: 276px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-3 {
  padding: 0;
  margin-left: 306px;
}

.col-4 {
  width: 378px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-4 {
  padding: 0;
  margin-left: 408px;
}

.col-5 {
  width: 480px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-5 {
  padding: 0;
  margin-left: 510px;
}

.col-6 {
  width: 582px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-6 {
  padding: 0;
  margin-left: 612px;
}

.col-7 {
  width: 684px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-7 {
  padding: 0;
  margin-left: 714px;
}

.col-8 {
  width: 786px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-8 {
  padding: 0;
  margin-left: 816px;
}

.col-9 {
  width: 888px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-9 {
  padding: 0;
  margin-left: 918px;
}

.col-10 {
  width: 990px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-10 {
  padding: 0;
  margin-left: 1020px;
}

.col-11 {
  width: 1092px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-11 {
  padding: 0;
  margin-left: 1122px;
}

.col-12 {
  width: 1194px;
  padding: 0px 15px;
  display: inline-block;
}

.prepend-12 {
  padding: 0;
  margin-left: 1224px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nevis',Futura,sans-serif;
  text-transform: uppercase;
}

.btn {
  padding: 8px;
  text-align: center;
  color: white;
  background: #c0272d;
  border-radius: 8px;
  border: 1px solid #801a1e;
  font-family: 'Nevis', Futura, sans-serif;
  text-transform: uppercase;
}
.btn:hover {
  background: #801a1e;
  cursor: pointer;
}

hr {
  font-family: verdana,helvetica,arial,sans-serif;
  padding: 0;
  border: none;
  border-top: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  height: 1px;
  margin-bottom: 42px;
}

hr.star:after {
  content: "\2605";
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: -24px;
  background: white;
  padding: 0 12px;
}

.jumbotron {
  background: #cccccc url("../images/bridge.jpg") center center no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 63px;
  z-index: 3;
}
.jumbotron .jumbotron-inner {
  position: absolute;
  top: 50%;
  margin-top: -250px;
}
.jumbotron .jumbotron-inner h1 {
  text-align: center;
  margin-bottom: 42px;
}
.jumbotron .jumbotron-inner p {
  width: 112%;
  font-size: 18px;
  margin-bottom: 42px;
  margin-left: -4%;
  padding: 2%;
  border-radius: 8px;
}
.jumbotron .jumbotron-inner p:hover {
  -webkit-animation: fade-white-bg 1s;
  -moz-animation: fade-white-bg 1s;
  -ms-animation: fade-white-bg 1s;
  -o-animation: fade-white-bg 1s;
  animation: fade-white-bg 1s;
  background: white;
}
.jumbotron .jumbotron-inner hr {
  color: #808080;
  border-color: #808080;
}
.jumbotron .jumbotron-inner hr:after {
  background: #ccc;
  border-radius: 50%;
}
.jumbotron .jumbotron-inner .social {
  text-align: center;
  font-size: 72px;
}
.jumbotron .jumbotron-inner .social i {
  margin: 0px 15px;
}
.jumbotron .jumbotron-inner .social a {
  color: #444;
  text-decoration: none;
}
.jumbotron .jumbotron-inner .social a:hover {
  color: black;
}

nav > ul {
  list-style: none;
}

.navbar {
  font-family: 'Nevis', Futura, sans-serif;
  text-transform: uppercase;
  height: 63px;
  background: #f1f1f1;
  border: 1px solid #b2b2b2;
}

.primary-nav {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.primary-nav .container {
  position: relative;
  top: 32px;
}
.primary-nav .navbar-inner {
  display: table;
  width: 100%;
}
.primary-nav .navbar-inner ul {
  display: table-row;
}
.primary-nav .navbar-inner ul li {
  width: 20%;
  display: table-cell;
  text-align: center;
}
.primary-nav .navbar-inner a {
  color: #444;
  text-decoration: none;
}
.primary-nav .navbar-inner a:hover {
  color: #c0272d;
}

.secondary-nav {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 12px 15px 0;
}
.secondary-nav ul {
  display: inline-block;
  list-style: none;
}
.secondary-nav ul li {
  display: inline-block;
  margin: 0 15px;
}
.secondary-nav ul li a {
  text-decoration: none;
  color: #444;
}
.secondary-nav ul li a:hover {
  color: #c0272d;
}
.secondary-nav ul.social {
  float: right;
  font-size: 36px;
  margin-top: -5px;
}
.secondary-nav .brand {
  display: inline-block;
  margin-right: 15px;
}

article {
  padding: 72px 0;
}
article h2 {
  font-size: 72px;
  color: #c0272d;
  text-align: center;
}
article aside.aeiou {
  color: #ccc;
  display: table;
  width: 100%;
  font-size: 18px;
}
article aside.aeiou ul {
  list-style: none;
  display: table-row;
}
article aside.aeiou ul li {
  display: table-cell;
  text-align: center;
}
article#about {
  background: #dddddd url("../images/broadway.jpg") center center no-repeat fixed;
  background-size: cover;
}
